
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Microsoft YaHei', sans-serif;
    }
	
	.content {
		width: 300px;
		height: 200px;
		position: absolute;
		left: 50%;
		margin-left: -150px;
		text-align: center;
	}
	
	.content .tra {
		position: absolute;
		top: 80px;
		left: 50px;
	    width: 200px;
	    font-size: 30px; 
	    transition: color .5s ease-in-out;
	    z-index: 1001;
	}
	
	.content .con {
		position: absolute;
		left: 50%;
		top: 120px;
		width: 140px;
		margin-left: -70px;
	}

	.content .line {
		display: inline-block;
		height: 5px;
		width: 0;
		background-color: blue;
		transition: width .5s linear;
	}

	.content .btn {
		position: absolute;
		top: 155px;
		left: 97px;
		height: 40px;
		font-size: 25px;
		border-radius: 10px;
		background: #fff;
	}

	.changecolor {
		color: blue;
	}

	.content .changewidth {
		width: 125px;
		z-index: 20000;
	}

