	.head {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.head img {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	.container {
		position: absolute;
		left: 50%;
		margin-left: -600px;
		bottom: 50px;
		width: 1200px;
		height: 200px;
		z-index: 1000;
	}

	.container img {
		display: block;
		width: 150px;
		height: 100px;
		margin-top: 50px;
		float: left;
		padding-left: 50px;
		cursor: pointer;
	}
	
	.one {
		padding-left: 50px;
	}
	.head img {
		opacity: 1;
	}
	.head .bgtwo img {
		z-index: 1;
	}
	.head .active img{
		z-index: 3;
	}
	.head .a-1 img{
		animation: anone .5s ease-out;
	}
	.head .a-2 img{
		animation: antwo .5s ease-out;
	}
	.head .a-3 img{
		animation: anthree 1s ease-in;
	}
	.head .a-4 img{
		animation: anfour 1s ease-out;
	}
	.head .a-5 img{
		animation: anfive .7s ease-in-out;
	}
	@keyframes anone {
		from {
			left: -500px;
		}
		to {
			left: 0;
		}
	}
	@keyframes antwo {
		from {
			top: 300px;
		}
		to {
			top: 0;
		}
	}
	@keyframes anthree {
		from {
			transform: scale(0.1);
		}
		to {
			transform: scale(1);
		}
	}
	@keyframes anfour {
		from {
			transform: scale(2);
		}
		to {
			transform: scale(1);
		}
	}
	@keyframes anfive {
		from {
			transform: rotate(-360deg) scale(0.1);
		}
		to {
			transform: rotate(0) scale(1);
		}
	}
	